body{
    background-color:red;
}
#HEHE_BOI{
    position: relative;
    left: 220px;
}
#info1{
    position: relative;
    left: 300px;
}
#Engine_Kaput{
    position: relative;
    left: 220px;
}
#info2{
    position: relative;
    left: 300px;
}