body{
    background-color:red;
}
#HEHE_BOI{
    position: relative;
    left: 220px;
}
#info1{
    position: relative;
    left: 300px;
}
#Engine_Kaput{
    position: relative;
    left: 220px;
}
#info2{
    position: relative;
    left: 300px;
}
#ling_gang{
    position: relative;
    left: 230px;
}
#info3{
    position: relative;
    left: 280px;
}
#rat_dance{
    position: relative;
    left: 250px;
}
#info4{
    position: relative;
    left: 280px;
}
#button1{
    position: relative;
    background-color: greenyellow;
}
#bomb{
    position: relative;
    right: 200px;
    width: 2500px;
    height: 3000px;
    top: -1000px;
}